ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  width: calc((100% - 2 * 10px) / 3);
}
.gallery-image {
  width: 100%;
  display: block;
  height: 100%;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.03);
}
.input-email {
  border-radius: 10px;
  height: 40px;
}
.input-text {
  border-radius: 10px;
  resize: none;
  padding: 5px;
}
.feedback-form {
  font-size: large;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 14px 20px;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e0e0e0;
}
